.tile {
	width:173px;
	height:173px;
	margin:6px 6px 0;
	display:inline-block;
	background-color:#1BA1E2;
	background-repeat:no-repeat;
	overflow:hidden;
}

.main-container {
	background-color:#000000;
	top:0px;
	left:0px;
	right:0px;
	padding-left:12px;
	position:absolute;
	white-space:nowrap;
	z-index:-1;
}

#main-screen {
	word-spacing:-5px;
}

#overlay {
	background-color:black;
	z-index:9999;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
}

#MessageBox {
	background-color:#1F1F1F;
	z-index:9999;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	padding: 12px 0px 18px 18px;
}

#coverwallcontainer, #folderstructurecontainer {
	margin-left:-6px
}

.messagebox-title {
	margin-bottom:6px;
	display:block;
	font-family:"Segoe WP bold";
	font-size:24pt;
}

.messagebox-text {
	margin-bottom:12px;
	display:block;
}

#MessageBox .button {
	margin:18px 36px 0 0;
}

.spacer {
	padding:3px;
}

.page-wrapper {
	padding-left:6px;
}

.page-title {
	position:relative;
	font-size: 54pt;
	line-height:40px;
	white-space:nowrap;
}

.game {
	margin-left: 6px;
}

.overlay-item {
	width:78px;
	height:90px;
	display:inline-block;
	margin-left:12px;
	margin-top:12px;
	background-color:#3399cc;
	color:white;
	font-size:32pt;
	line-height:126px;
	padding-left:10px;
	
}

.overlay-grey {
	background-color:#222222!important;
	color:#555555!important;
}

.list-divider {
	width:62px;
	height:68px;
	display:inline-block;
	margin-left:6px;
	margin-right:6px;
	border:2px solid;
	border-color:#3399cc;
	color:#3399cc;
	font-size:40pt;
	line-height:73px;
	padding-left:6px;
}

.list-item {
	padding-bottom:6px;
	padding-top:6px;
	background-color:black;
	white-space:nowrap;
}

.list-item-icon, .accent-item-icon {
	width:72px;
	height:72px;
	display:inline-block;
	margin-right:6px;
	background-color:#3399cc;
	vertical-align:middle;
	
}

.accent-item-icon {
	width:40px;
	height:40px;
}

.accent-item {
	padding-bottom:24px;
	padding-top:24px;
	padding-left:12px;
}

.list-item-text, .accent-item-text {
	display:inline;
	font-size:32pt;
	top:10px;
	padding-left:12px;
	position:relative;
	line-height:0;
}

.page-wrapper {
	position:relative;
	width:100%;
	padding-left:6px;
	padding-right:6px;
	white-space:normal;
	display:inline-block;
}

.details-cover {
	display:inline;
	vertical-align:top;
	padding-right:6px;
	padding-top:6px;
	float:left;
	clear:left;
	width:180px!important;
}

.details-button-pane {
	position:relative;
	bottom:12px;
	left:-18px;
	padding-right:6px;
}

.about-title {
	color:#888888;
	font-size:21pt;
}

.about-items {
	color:#bbbbbb;
	font-size:19px;
	line-height:22px;
}

a.button {
    border: 2px solid white;
    color: white;
    display: inline-block;
    margin: 18px 0px 0px 18px;
    padding: 0px 10px;
	padding-bottom:3px;
    text-decoration: none;
	text-align:center;
	font-weight:bold;
	width:186px;
}

.searchinput {
	padding:12px;
	font-size:15pt;
}

.dropdown {
	margin-left:0px;
	margin-right:12px;
	right:18px;
	left:6px;
	background-color:#BEBEBE;
	padding:6px;
	display:block;
	position:absolute;
}

.dropdown:active {
	background-color:white!important;
}

.dropdown-item {
	padding-bottom:6px;
	padding-top:6px;
}

.dropdown-active {
	display:inline-block;
	padding:0px;
}

.dropdownText {
	color:black;
	top:-2px;
	position:relative;
	padding-left:6px;
}

.accentIconSmall {
	background-color:#3399cc;
	width:20px;
	height:20px;
	float:left;
	margin:3px 3px 3px 3px;
}

.folder {
	background-image:url('../img/folder.png');
	background-size: 173px 173px;
}

.config {
	background-image:url('../img/config.png');
	background-size: 173px 173px;
}

.favs {
	background-image:url('../img/favs.png');
	background-size: 173px 173px;
}

.about {
	background-image:url('../img/about.png');
	background-size: 173px 173px;
}

.search {
	background-image:url('../img/search.png');
	background-size: 173px 173px;
}

.lists {
	background-image:url('../img/lists.png');
	background-size: 173px 173px;
}

.wall {
	background-image:url('../img/wall.png');
	background-size: 173px 173px;
}

.troll {
	background-image:url('../img/test.jpg');
	background-size: 173px;
}

.title {
	margin-left:6px;
}

.tile-title {
	position:relative;
	display:inline;
	top:139px;
	left:12px;
	word-spacing:0px;
}

.active {
	display:inline-block!important;
}

.page {
	display:none;
	position:relative;
	width:100%;
	overflow-x:hidden;
	white-space:normal;
}

.invis {
	display:none;
}

img {
	display:block;
	width:173px;
}

a {
	text-decoration:none;
	color:white;
}

@font-face { 
	font-family: "Segoe WP"; 
	src: url("segoewp-light-webfont.eot"); 
	src: local("?"), 
		url("segoewp-light-webfont.woff") format("woff"), 
		url("segoewp-light-webfont.ttf") format("truetype"), 
		url("segoewp-light-webfont.svg#SegoeWPLight") format("svg"); 
}

@font-face { 
	font-family: "Segoe WP bold"; 
	src: url("segoewp-semibold-webfont.eot"); 
	src: local("?"), 
		url("segoewp-semibold-webfont.woff") format("woff"), 
		url("segoewp-semibold-webfont.ttf") format("truetype"), 
		url("segoewp-semibold-webfont.svg#SegoeWPSemibold") format("svg"); 
}

.bold {
	font-family:"Segoe WP bold";
}

html {
	color:white;
	background-color:black;
	font-family:"Segoe UI","Segoe UI";
	font-weight:100;
	font-size:15pt;
}

.blue {
	background-color:#1BA1E2!important;
}

.red {
	background-color:#E51400!important;
}

.green {
	background-color:#339933!important;
}

.mango {
	background-color:#F09609!important;
}

.pink {
	background-color:#E671B8!important;
}

.brown {
	background-color:#A05000!important;
}

.lime {
	background-color:#A2C139!important;
}

.teal {
	background-color:#00ABA9!important;
}

.purple {
	background-color:#A200FF!important;
}

.magenta {
	background-color:#D80073!important;
}

.blue-text {
	color:#1BA1E2!important;
}

.red-text {
	color:#E51400!important;
}

.green-text {
	color:#339933!important;
}

.mango-text {
	color:#F09609!important;
}

.pink-text {
	color:#E671B8!important;
}

.brown-text {
	color:#A05000!important;
}

.lime-text {
	color:#A2C139!important;
}

.teal-text {
	color:#00ABA9!important;
}

.purple-text {
	color:#A200FF!important;
}

.magenta-text {
	color:#D80073!important;
}

.blue-border {
	border-color:#1BA1E2!important;
}

.red-border {
	border-color:#E51400!important;
}

.green-border {
	border-color:#339933!important;
}

.mango-border {
	border-color:#F09609!important;
}

.pink-border {
	border-color:#E671B8!important;
}

.brown-border {
	border-color:#A05000!important;
}

.lime-border {
	border-color:#A2C139!important;
}

.teal-border {
	border-color:#00ABA9!important;
}

.purple-border {
	border-color:#A200FF!important;
}

.magenta-border {
	border-color:#D80073!important;
}