.main-container {
	background-color:#000000;
	width:468px;
	height:716px;
	top:0px;
	left:0px;
	padding-left:12px;
	padding-top:12px;
	position:absolute;
	white-space:nowrap;
	z-index:-1;
}

#main-screen {
	word-spacing:-5px;
}

#overlay {
	background-color:black;
	z-index:9999;
	position:absolute;
	top:0px;
	left:0px;
}

#MessageBox {
	background-color:#181C18;
	z-index:9999;
	position:fixed;
	top:0px;
	left:0px;
	width:462px;
	padding: 12px 0px 18px 18px;
}

.messagebox-title {
	margin-bottom:6px;
	display:block;
	font-family:"Segoe WP bold";
	font-size:24px;
}

.messagebox-text {
	margin-bottom:12px;
	display:block;
}

#MessageBox .button {
	margin:18px 18px 0 0;
}

.tile {
	width:173px;
	height:173px;
	margin:6px;
	display:inline-block;
	background-color:#3399cc;
}

.spacer {
	padding:3px;
}

.list-item {
	padding-bottom:6px;
	padding-top:6px;
	background-color:black;
}

/*.game {
	padding-left: 31px;
}*/

.overlay-item {
	width:88px;
	height:100px;
	display:inline-block;
	margin-left:12px;
	margin-top:12px;
	background-color:#3399cc;
	color:white;
	font-size:62px;
	line-height:120px;
	padding-left:12px;	
}

.overlay-grey {
	background-color:#222222!important;
	color:#555555!important;
}

.list-divider {
	width:52px;
	height:58px;
	display:inline-block;
	margin-left:6px;
	margin-right:6px;
	border:2px solid;
	border-color:#3399cc;
	color:#3399cc;
	font-size:45px;
	line-height:60px;
	padding-left:6px;
}

.list-item-icon {
	width:62px;
	height:62px;
	display:inline-block;
	margin-left:6px;
	margin-right:6px;
	background-color:#3399cc;
	vertical-align:middle;
}

.details-container {
	margin-left:6px;
	white-space:normal;
}

.details-cover {
	display:inline;
	vertical-align:top;
	padding-right:6px;
	padding-top:6px;
	float:left;
	clear:left;
}

.details-title {
	position:absolute;
	font-size: 54px;
	line-height:30px;
	left:13px;
	white-space:nowrap;
}

.details-button-pane {
	position:absolute;
	bottom:12px;
	left:0px;
}

.list-item-text {
	display:inline;
	font-size:32px;
	top:6px;
	position:relative;
}

a.button {
    border: 2px solid white;
    color: white;
    display: inline-block;
    margin: 18px 0px 0px 18px;
    padding: 0px 10px;
	padding-bottom:3px;
    text-decoration: none;
	text-align:center;
	font-weight:bold;
	width:189px;
}

.folder {
	background-image:url('../img/folder.png');
	background-size: 173px 173px;
}

.config {
	background-image:url('../img/config.png');
	background-size: 173px 173px;
}

.favs {
	background-image:url('../img/favs.png');
	background-size: 173px 173px;
}

.info {
	background-image:url('../img/info.png');
	background-size: 173px 173px;
}

.search {
	background-image:url('../img/search.png');
	background-size: 173px 173px;
}

.lists {
	background-image:url('../img/lists.png');
	background-size: 173px 173px;
}

.wall {
	background-image:url('../img/wall.png');
	background-size: 173px 173px;
}

.title {
	margin-left:6px;
}

.tile-title {
	position:relative;
	display:inline;
	top:143px;
	left:12px;
	word-spacing:0px;
}

.active {
	display:inline-block!important;
}

.page {
	display:none;
}

.invis {
	display:none;
}

img {
	display:block;
	width:173px;
}

a {
	text-decoration:none;
	color:white;
}

@font-face{
    font-family:"Segoe WP";
    src: url(SegoeWP-Semilight.ttf) format("truetype");
}

@font-face{
    font-family:"Segoe WP bold";
    src: url(SegoeWP-Semibold.ttf) format("truetype");
}

html {
	color:white;
	background-color:white;
	font-family:"Segoe WP","Segoe UI";
	overflow-x:hidden;
}